body {font-family: Arial, Helvetica, sans-serif;}

.bg {
  background-image: url("../../assets/BookImages/15.jpg");
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background: #2CACD3;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
  background: #0000FF;
}

.container {
  padding: 16px;
}
.asterisk::after {
content:" *"; 
color: #e32;
position: absolute; 
margin: -10px 0px 0px -20px; 
font-size: x-large; 
/*padding: 0 5px 0 0;*/ }